body {
  font-family: 'Roboto', sans-serif;
  background-color: #ddeaff; 
}

section {
  background-color: #ffffff; 
  padding: 2rem;
  border-radius: 8px;
  margin: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

/*====Styling the Nav and Search div====*/

.navSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
}

p {
  font-weight: 400;
}


#search {
  border: 2px solid rgba(126, 126, 126, 0.5);
  padding: 12px; 
  border-radius: 8px;
  width: 320px;
}

.searchbar button {
  background-color: rgb(0, 137, 249);
  padding: 12px 24px;
  border-radius: 8px;
  border: none; 
  color: #fff; 
  cursor: pointer; 
}

.searchbar button:hover {
  background-color: #0074D9;
}

#navbar {
  list-style: none; 
  margin: 0;
  padding: 0;
}

#navbar li {
  display: inline-block;
  margin-left: 10px;
  padding: 12px 12px;
  border-radius: 8px;
}

#navbar li:last-child {
  margin-right: 0; 
}

#navbar li a {
  text-decoration: none; 
  color: #5e5c5c; 
  padding: 12px 12px;
  font-weight: 400;
}

#navbar li a:hover {
  color: #ffffff; 
}

nav ul li:hover {
  background-color: rgb(0, 137, 249);
  color: #ffffff; 
}

/*====Styling the body====*/

.allUsers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

@media (max-width: 992px) {
  .allUsers {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 576px) {
  .allUsers {
    grid-template-columns: 1fr; 
  }
}
.userCard {
  display: flex;
  flex-direction: row;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.userPic img {
  width: 100px; 
  height: 100px; 
  object-fit: cover;
  border-radius: 50%; 
}

.userInfo{
  margin-left: 16px;
}

.serif-heading {
  font-family: 'Merriweather', serif;
}


.userLabel {
  margin: 0;
  padding: 0;
}

.label {
  display: inline-block;
  margin-left: 0px;
  margin-bottom: 4px;
  padding: 12px 12px;
  color: rgb(0, 137, 249);
  background-color: #ffffff; 
  padding: 8px 16px;
  border-radius: 16px;
  border: 1px solid rgba(126, 126, 126, 0.5);
}

.userCard:hover {
  background-color: #e6f5fc;
  border: 2px solid rgba(0, 100, 255, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease; 
}



