body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    display: flex;
    flex-direction: column;

}

/*====Styling the Nav and Search div====*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 16px;
  /*background-color: rgba(0, 100, 255);*/
}

nav ul li:hover {
  background-color: rgba(0, 100, 255);
}