body {
    font-family: 'Helvetica', sans-serif;
    font-weight: 300;
    background-color: rgb(53, 53, 53); 
    margin: 24px;
    background-image: url('assets/bg-for-table.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #f8f8f8;
}

  .container {
    margin: 24px auto;
    background-color: rgb(72, 72, 72, 0.5);
    border-radius: 8px;
    overflow: hidden;
    width: 640px; 
    height: 640px;
    backdrop-filter: blur(48px);
  }

  .title{
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    color: #ffffff;
    width: 640px;
    margin: 0px;
    background-color: #35254a;
    padding: 24px 0px 24px 48px
  }

  .list {
    display: flex;
    flex-direction: column;
    margin: 8px;
    align-items: center;
  }

  .item {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    width: 96px;
    padding: 8px;
    margin: 8px 8px;
    color: rgb(236, 236, 236);
    border-right: 1px solid rgb(255, 255, 255, 0.4);
  }

  .item-row {
    display: flex;
    flex-direction: row;
    background-color: rgba(62, 62, 62, 0.6);
    margin: 8px 8px;
    height: 54px;
    width: 90%;
    border-radius: 8px;
  }

  .item-row:hover {
    background-color: rgba(77, 77, 77, 0.6);
    transition: 0.3s ease-in-out;
  }

  .activity, .participants, .price, .type {
    margin: 8px 8px;
    color: #ffffff;
    padding: 8px;
    border-radius: 8px;
    font-weight: 300;

  }